.container_menu-title > h1{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 130px;
  text-transform: uppercase;
}

.container_menu-title{
  padding-top: 20px;
  padding-bottom: 20px;
}
