<header>
  <div class="container_menu">
    <div class="contianer_menu-bar">
      <app-menu-bar></app-menu-bar>
    </div>
    <div class="contaienr_menu_title">
      <app-menu-title></app-menu-title>
    </div>
  </div>
</header>
<div class="container_card">
  <div class="container_card-big-card">
    <app-big-card></app-big-card>
  </div>
  <div class="container_card-small-card">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
